body {
	/* background-image:  */
    /* linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(105,105,105, 0.55)), */
    /* url(../images/background3.jpg); */
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#navlogo {
    height: 50px;
}

/* Landing */
.landing-container {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.landingBtn {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

 @-webkit-keyframes vibrate-1 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
	}
	60% {
	  -webkit-transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
	}
	80% {
	  -webkit-transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
	}
	100% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
  }
  @keyframes vibrate-1 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
	}
	60% {
	  -webkit-transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
	}
	80% {
	  -webkit-transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
	}
	100% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
  }


/* Login and Registration */
.form-control {
    border-radius: 25px;
    width: 250px;
    height: 40px;
    background-color: white;
    text-align: center;
}

.btn {
    border-radius: 25px;
    width: 250px;
    height: 40px;
}

#applogo {
    width: 250px;
}

#registerBtn {
    background-color: #6daddc;
}


/* SIDE PANEL CSS */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: rgb(255, 202, 0);
    color: #fff;
    transition: all 0.3s;
    position: fixed;
}

#sidebar.active {
    margin-left: -250px;
}

.pill {
    border-radius: 5px;
    background: violet; /*variable color */
    padding: 1.5px 5px;
    margin: 10px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar-header {
    background:  rgb(255, 202, 0);
    padding-top: 2em;
}

img{
    border-radius: 50px;
    
}


#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.wrapper > h2{
    color: #010101;
    text-transform: uppercase;
}

.black {
    color: #010101;
    font-size: 1.5em;
}

.blacksm {
    color: #010101;
    font-size: 1.2em;
}

.blue {
    color: #10a1f5;
    font-size: 2em;
}

.btn-logout {
    width: 100px;
    height: 40px;
    background-color: rgb(170, 178, 248);
    font-weight: 700;
}


/* INDEX CSS */

.btn-add {
    width: 100px;
    height: 40px;
    background-color: #2196F3;
    color: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

i{
    font-size: xx-large;
}

/* addToDoCSS */

#input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: solid 2px rgb(71, 228, 105);
    height: 50px;
    width: 300px;
  }
  
  #addForm {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
  }
  